body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
  background-attachment: fixed; /* 背景を固定して分割を防ぐ */
  background-size: cover; /* 背景を画面全体に拡大縮小 */
  margin: 0;
  padding: 0;
  height: 100%; /* htmlとbody両方に高さを設定 */
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
}
h1 {
  font-size: 50px;
  color: rgb(117, 108, 108);
  margin-bottom: 20px;
  font-style: oblique;
}
.start-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  position: relative;
}
#result {
  margin-top: 20px; /* 問題ブロックに余白を追加 */
  text-align: center;
}

#inputArea {
  margin-top: 20px; /* 入力エリアの上に余白を追加 */
  text-align: center;
}
